<template>
  <div >
    <h1>Hello Teachers</h1>
    <div v-for="(teacher,id) in teacherListArr" :key=id>
    <TeacherList :teacher=teacher></TeacherList>
    </div>
     <sliding-pagination :current="currentPage" :total="totalPages" @page-change="pageChangeHandler"></sliding-pagination>
  </div>
</template>

<script>
import axios from 'axios'
import TeacherList from './TeacherList.vue'
import SlidingPagination from 'vue-sliding-pagination' 
export default {
  name: 'HomePage', 
  components : {
    TeacherList,
    SlidingPagination
  
  } ,
  data(){
    return{
      teacherListArr : [],
      baseUrl: "https://localhost:44345",
      currentPage: 1,
       totalPages: 3
    }
  },
   mounted () {
          axios.get(this.baseUrl+"/api/Teacher/getAll",{
            params:{ 
              page: this.currentPage,
            }
          })
          .then(response=>{
              this.teacherListArr=response.data;
              console.log(1);
          });
  },
   methods: {
  pageChangeHandler(selectedPage) {
    this.currentPage = selectedPage   
    console.log(this.currentPage);
  }
},
}

</script>