<template>
  <div >
    <router-link :to='teacherLink' v-if=teacher>
       {{this.teacher.firstName}}  {{this.teacher.lastName}}
      <br> <br>
    </router-link>
    
  </div>
</template>

<script>


export default {
  name: 'TeacherList',  
  data(){
      return{
     
      }
  },
   props: ['teacher'],
  computed : {
  teacherLink(){
    return 'Teacher/'+this.teacher.teacherId
  }
  },
 
}

</script>