<template>
<dir>
    <h2 v-if=teacherInfo[0]>{{teacherInfo[0].firstName}} {{teacherInfo[0].lastName}}</h2>
    <div v-for="(teacher,id) in teacherInfo" :key=id>
        <p v-if=teacher>{{ teacher.lesson }} | {{ teacher.start_At }} | {{ teacher.end_At }} | {{ teacher.groupName }} | {{ teacher.roomNumber }} | {{teacher.dayOfWeek}}</p>
    </div>
</dir>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return{
            teacherInfo : [],
            baseUrl: "https://localhost:44345",
        }
    },
    created(){
        axios.get(this.baseUrl+"/api/Teacher/getTeacherDetails" ,{
    params: {
      ID: this.$route.params.teacherId
    }
  }).then(response=>{
      this.teacherInfo=response.data;
  })

    },
}
</script>